@import url

:root{
    --cor-de-fundo: #000000;
    --verde: #26ff00;
    --branco:#ffffff;
    --botao-ativo: #10770d;
    --botao-inativo: rgba(82, 81, 0.5);
    --texto-fundo: rgb(33, 37, 29);
}

body{
    background-color: #000000;
    color: var(--branco);
    font-family: cursive;
}


. conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    width: 100%;
    margin: 0% auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--verde);
}

.botao{
    font-family:Crakra Petch" ; sans-serif;
    background-color: var(var(--botao-inativo));
    color: var(--branco);
    display:flex;
    justify-content: center;
    padding: lem;
    font: size 18px;
    align-items: center;
    widh: 100%
    border: bottom 4px; solid var(--botao-ativo);
    border-left: 4px solid var(--botao-ativo);
    border-right: 4px solid var(--botao-ativo);
    border-top:none;

}
.botoes: :first-child{
    boder-radius: 40px 40px 0 0;
}

.botoes}{
    display:block;
}
@media  screen and (min waidth 768px) {
    .botoes{
        display: flex;
    }
    .botao
    
}
    
    


